# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ExploreHub-frontend/node_modules/
ExploreHub-backend/node_modules/
ExploreHub-frontend/.pnp
ExploreHub-backend/.pnp
ExploreHub-frontend/.pnp.js
ExploreHub-backend/.pnp.js

# testing
ExploreHub-frontend/coverage
ExploreHub-backend/coverage

# production
ExploreHub-frontend/build
ExploreHub-backend/build

# misc
ExploreHub-frontend/.DS_Store
ExploreHub-frontend/.env.local
ExploreHub-frontend/.env.development.local
ExploreHub-frontend/.env.test.local
ExploreHub-frontend/.env.production.local
ExploreHub-backend/.DS_Store
ExploreHub-backend/.env.local
ExploreHub-backend/.env.development.local
ExploreHub-backend/.env.test.local
ExploreHub-backend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# compiled output
dist
tmp
/out-tsc

# dependencies
ExploreHub-frontend/node_modules
ExploreHub-backend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db







